dvr.service-user.TVINFO-USER1.folder=TEST1
dvr.service-user.TVINFO-USER1.priority=99
dvr.service-user.TVINFO-USER1.lifetime=36500
dvr.service-user.TVINFO-USER2.folder=TEST2
dvr.service-user.TVINFO-USER2.priority=50
dvr.service-user.TVINFO-USER2.lifetime=365
dvr.service-user.TVDIREKT-USER3.folder=TEST3
dvr.service-user.TVDIREKT-USER3.priority=50
dvr.service-user.TVDIREKT-USER3.lifetime=365
dvr.host.reelbox.port=2001
dvr.host.reelbox.type=vdr
dvr.host.openelec.port=9981
dvr.host.openelec.type=tvheadend
dvr.host.default.margin.start=10
dvr.host.default.margin.stop=35
dvr.service-user.default.folder=.
service.default.proxy=
service.tvinfo.user.TVINFO-USER1.password=USER1-PASS
service.tvinfo.user.TVINFO-USER2.password=USER2-PASS
service.tvdirekt.user.TVDIREKT-USER3.password=USER3-PASS
